<div class="flex flex-col h-screen items-center sticky top-0">
        <div>
            icon
        </div>
        <div class="mt-auto flex flex-col gap-3 text-center">
            <a href="/" class="btn bg-white">Dashboard</a>
            <a href="/cohort/{{user.current_cohort.id}}" class="btn bg-white">Current Class</a>
            <a href="#" class="btn bg-white">All Classes</a>
            <a href="#" class="btn bg-white">Archived Classes</a>
            <a href="#" class="btn bg-white">Student Safe</a>
        </div>
        <div class="flex flex-col mt-auto mb-3 gap-3">
            <a href="/cohort/new" class="btn bg-white">Create New Class</a>
            <a href="/logout" class="btn bg-red-500 text-center">Logout</a>
        </div>
</div>