<div class="flex flex-col h-screen items-center">
    <div>
        icon
    </div>
    <div class="mt-auto flex flex-col gap-3 text-center">
        <a href="/cohort/new" class="btn bg-white">Create New Class</a>
        <a href="#" class="btn bg-white">Current Class</a>
        <a href="#" class="btn bg-white">All Classes</a>
        <a href="#" class="btn bg-white">Archived Classes</a>
        <a href="#" class="btn bg-white">Student Safe</a>
    </div>
    <div class="mt-auto mb-3">
        <a href="/logout">Logout</a>
    </div>
</div>