{% extends 'base.html' %}
{% block content %}
    <div class="grid h-screen w-screen">
            <div class="h-auto place-self-center">
                <h1 class="text-3xl text-center">Student Tracker</h1>
                <form action="" method="post">
                    <div class="mt-3">
                        <input class="text-center" type="text" name="email" id="email" placeholder="Email">
                    </div>
                    <div class="mt-3">
                        <input class="text-center" type="text" name="pw" id="pw" placeholder="Password">
                    </div>
                    <div class="flex justify-end mt-3">
                        <button class="btn bg-green-500">Login</button>
                    </div>
                </form>
            </div>
    </div>
{% endblock content %}