{% extends '/main/base.html' %}
{% block main_content %}
    <div class="col-span-12 mx-3">
        <table class="w-full ">
            <thead class="sticky top-0 bg-white">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Student Id</th>
                    <th>AP Status</th>
                    <th>AP Count</th>
                    <th>ACP</th>
                </tr>
            </thead>
            <tbody>
                {% for student in cohort.students %}
                <tr>
                    <td>
                        <a class="text-blue-500 underline" href="/student/{{student.id}}">{{student.fullname}}</a>
                    </td>
                    <td>{{student.email}}</td>
                    <td>{{student.student_id}}</td>
                    <td>{{student.ap_status}}</td>
                    <td>{{student.ap_count}}</td>
                    <td>{{student.acp}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        
{% endblock main_content %}