{% extends 'base.html' %}
{% block content %}
<div class="grid grid-cols-12 h-screen">
    <div class="col-span-1 bg-blue-500">
        sidemenu
    </div>
    <div class="col-span-11">
        <div class="col-span-12 flex justify-between mx-3 mb-8">
            <h1>Dashboard</h1>
            <a href="/logout">Logout</a>
        </div>
        <div class="grid grid-cols-12 gap-3">
            <div class="col-span-12 bg-red-500">
                trouble students
            </div>
            <div class="col-span-6 bg-green-500">
                go getters
            </div>
            <div class="col-span-6 bg-yellow-500">
                students to watch
            </div>
        </div>
    </div>
</div>
{% endblock content %}