{% extends 'main/base.html' %}
{% set students = user.current_cohort.students %}
{% block main_content %}
<div class="col-span-12">
    <div class="grid grid-cols-12 gap-3 mx-3">
        <div class="col-span-12 bg-red-500 flex">
            <table class="text-center m-3 w-full">
                <thead>
                    <tr>
                        <th>Student</th>
                        <th>ID</th>
                        <th>AP Count</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                    {% if student.ap_status == 'On AP' %}
                    <tr class="bg-white border border-red-500 border-4">
                       <td> {{ student.fullname }}</td>
                       <td> {{ student.student_id }}</td>
                       <td> {{ student.ap_count }}</td>
                       <td class="flex gap-3 justify-center">
                           <a href="#" class="text-blue-900 underline">View</a>
                           <a href="#" class="text-blue-900 underline">Make Note</a>
                       </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-span-6 bg-green-500">
            go getters
        </div>
        <div class="col-span-6 bg-yellow-500">
            students to watch
        </div>
    </div>
</div>
{% endblock main_content %}