/* utils */

/* button */
button, .btn {
    padding: 0.5em;
    border: 0.15em solid black;
    border-radius: 0.75em;
}

.inactive {
    background-color: gray;
    border: 0.15em solid rgb(119, 119, 119);
    cursor: not-allowed;
}
/* form */

input {
    border: 0.15em solid black;
    text-align: center;
    border-radius: 0.75em;
}

textarea {
    width: 100%;
    border: 0.1em solid black;
}

select {
    border: 0.1em solid black;
}


/* table */
/* 
table tr {
    border-bottom: 1px solid black;
} */

table td {
    padding: 0.5em;
}


