/* button */
button, .btn {
    padding: 0.5em;
    border: 0.15em solid black;
    border-radius: 0.75em;
}

/* form */

input {
    border: 0.15em solid black;
    text-align: center;
    border-radius: 0.75em;
}


/* table */
/* 
table tr {
    border-bottom: 1px solid black;
} */

table td {
    padding: 0.5em;
}